<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
{% load staticfiles %}
<head>
<title>【金立智能手机服务】金立官网售后服务_金立手机售后服务-金立智能手机官网</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

<link rel="stylesheet" type="text/css" href="{% static 'shop.gionee.com.help_list/css/global_v2.201411051554_1.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'shop.gionee.com.help_list/css/help_v2_1.css' %}"/>
<script type="text/javascript" src="{% static 'shop.gionee.com.help_list/js/jquery-1.7.min.201303280959_1.js' %}"></script>
<script type="text/javascript" src="{% static 'shop.gionee.com.help_list/js/base_v2.201312061352.js' %}"></script>
</head>

<body class="sl_mNav_help">
<div class="g_hd" id="glbHeader" data-la="12">
<div class="wrapper" id="Jslheaderbd">
<a href="/" target="_self" hidefocus="true" class="g_logo fl tin">金品质立天下</a>
<div class=" fr g_hd_main">
<div class="g_quickMenu fr" id="JquickMenu">
<span class="loginReg" id="JloginReg">
{% if request.user.id %}
<a href="{% url 'users:order_list' %}" target="_self" hidefocus="true" class="login" style="color: #ef4222;">{{ request.user.nick_name }}</a>
{% else %}
<a href="{% url 'users:login' %}" target="_self" hidefocus="true" class="login" style="color: #ef4222;">账号登录</a>
{% endif %}
<span class="line">|</span>
<a href="{% url 'users:register' %}" target="_self" hidefocus="true" class="reg">注册</a><b></b>
<span class="line">|</span>
<a href="{% url 'users:logout' %}" target="_self" hidefocus="true" class="reg">退出</a><b></b>
</span>
<span class="cart" id="Jcart">
<span class="cart_hd"><a href="{% url 'carts:add' %}" hidefocus="true">购物车<b></b></a><i class="whitespace"></i></span>
<span class="cart_bd" id="JcartBd">
<span class="cart_loading"></span>
</span>
</span>
</div>
<div class="g_search fr">
<form action="{% url 'service:list' %}" method="get" target="_blank" id="search">
<input class="txt fl" name="kw" type="text" value="" id="JsearchTxt" />
<input type="submit" class="btn_so fr" value="" />
</form>
</div>
<ul class="g_mainnav c">
<li class="mNav_item home"><a href="/" target="_self" hidefocus="true" class="mNav_title">首页</a></li>
<li class="mNav_item mobile" id="JmNavMobile">
<a href="{% url 'mobiles:list' %}" target="_self" hidefocus="true" class="mNav_title">手机</a>
</li>
<li class="mNav_item peijian"><a href="{% url 'parts:list' %}" target="_self" hidefocus="true" class="mNav_title">配件</a><b></b></li>
<li class="mNav_item service"><a href="{% url 'service:list' %}" target="_self" hidefocus="true" class="mNav_title">服务</a><b></b></li>
<li class="mNav_item loaddown"><a href="{% url 'download:center' %}" target="_blank" hidefocus="true" class="mNav_title">下载</a><b></b></li>
<li class="mNav_item elife"><a href="{% url 'service:hint' %}" target="_blank" hidefocus="true" class="mNav_title">社区</a><b></b></li>
<li class="mNav_item elife"><a href="{% url 'service:hint' %}" rel="nofollow" target="_blank" hidefocus="true" class="mNav_title">amigoOS</a><b></b></li>
</ul>
</div>
</div>
</div>

<div class="sl_wrapper">
<div class="help_content wrapper">
<h1 class="help_h1 hide">帮助中心</h1>
<div class="help_nav">
<ul class="help_nav_fixed c">
<li>
<a href="{% url 'service:broken/screen' %}" target="_blank"><span class="ico_n1"></span>
<br/>
碎屏保障</a>
</li>
<li>
<a href="{% url 'parts:list' %}" target="_blank"><span class="ico_n2"></span>
<br/>
手机配件</a>
</li>
<li>
<a href="{% url 'service:outsite/repair' %}" target="_blank"><span class="ico_n3"></span>
<br/>
上门维修</a>
</li>
<li>
<a href="{% url 'service:IMEI' %}" target="_blank"><span class="ico_n4"></span>
<br/>
IMEI查询</a>
</li>
<li class="speci">
<a href="{% url 'service:experience/store' %}" target="_blank"><span class="ico_n5"></span>
<br/>
金立体验店</a>
</li>
<li>
<a href="{% url 'service:network/station' %}" target="_blank"><span class="ico_n6"></span>
<br/>
售后服务网点</a>
</li>
<li>
<a href="{% url 'service:hint' %}" target="_blank"><span class="ico_n7"></span>
<br/>
软件下载</a>
</li>
</ul>
<ul class="help_nav_t wrapper c">
<li>
<span class="nav00"></span>
<br/>
帐号管理
</li>
<li>
<span class="nav01"></span>
<br/>
购物指南
</li>
<li>
<span class="nav02"></span>
<br/>
订单管理
</li>
<li>
<span class="nav03"></span>
<br/>
配送方式
</li>
<li class="speci">
<span class="nav04"></span>
<br/>
支付方式
</li>
<li>
<span class="nav05"></span>
<br/>
售后服务
</li>
<li>
<span class="nav06"></span>
<br/>
相关说明
</li>
</ul>
<ul class="help_nav_c">
<li>
<a href="{% url 'service:detail' 1 2 %}" target="_blank">注册帐号</a><span>|</span><a href="{% url 'service:detail' 1 1 %}" target="_blank">忘记密码</a>
</li>
<li>
<a href="{% url 'service:detail' 2 4 %}" target="_blank">用户协议</a><span>|</span>
<a href="{% url 'service:detail' 2 3 %}" target="_blank">购物流程</a><span>|</span>
<a href="{% url 'service:detail' 2 2 %}" target="_blank">购买常见问题</a><span>|</span>
<a href="{% url 'service:detail' 2 1 %}" target="_blank">修改收货地址</a>
</li>
<li>
<a href="{% url 'service:detail' 3 5 %}" target="_blank">订单状态说明</a><span>|</span>
<a href="{% url 'service:detail' 3 4 %}" target="_blank">订单查询方式</a><span>|</span>
<a href="{% url 'service:detail' 3 3 %}" target="_blank">修改订单说明</a><span>|</span>
<a href="{% url 'service:detail' 3 2 %}" target="_blank">取消订单说明</a><span>|</span>
<a href="{% url 'service:detail' 3 1 %}" target="_blank">退货订单说明</a>
</li>
<li>
<a href="{% url 'service:detail' 4 5 %}" target="_blank">配送说明及费用</a><span>|</span>
<a href="{% url 'service:detail' 4 4 %}" target="_blank">第三方配送</a><span>|</span>
<a href="{% url 'service:detail' 4 3 %}" target="_blank">发货时间</a><span>|</span>
<a href="{% url 'service:detail' 4 2 %}" target="_blank">物流查询</a><span>|</span>
<a href="{% url 'service:detail' 4 1 %}" target="_blank">签收须知</a>
</li>
<li>
<a href="{% url 'service:detail' 5 7 %}" target="_blank">在线支付</a><span>|</span>
<a href="{% url 'service:detail' 5 6 %}" target="_blank">发票说明</a><span>|</span>
<a href="{% url 'service:detail' 5 5 %}" target="_blank">支付常见问题</a><span>|</span>
<a href="{% url 'service:detail' 5 4 %}" target="_blank">货到付款</a><span>|</span>
<a href="{% url 'service:detail' 5 3 %}" target="_blank">网银支付教程</a><span>|</span>
<a href="{% url 'service:detail' 5 2 %}" target="_blank">支付限额</a><span>|</span>
<a href="{% url 'service:detail' 5 1 %}" target="_blank">支付宝支付</a>
</li>
<li>
<a href="{% url 'service:detail' 6 11 %}" target="_blank">服务网点</a><span>|</span>
<a href="{% url 'service:detail' 6 10 %}" target="_blank">售后政策</a><span>|</span>
<a href="{% url 'service:detail' 6 9 %}" target="_blank">退换货流程</a><span>|</span>
<a href="{% url 'service:detail' 6 8 %}" target="_blank">维修流程</a><span>|</span>
<a href="{% url 'service:detail' 6 7 %}" target="_blank">使用常见问题</a><span>|</span>
<a href="{% url 'service:detail' 6 6 %}" target="_blank">售后常见问题</a><span>|</span>
<a href="{% url 'service:detail' 6 1 %}" target="_blank">寄修服务</a>
</li>
<li>
<a href="{% url 'service:detail' 7 5 %}" target="_blank">购物保障</a><span>|</span>
<a href="{% url 'service:detail' 7 4 %}" target="_blank">隐私声明</a><span>|</span>
<a href="{% url 'service:detail' 7 3 %}" target="_blank">知识产权声明</a><span>|</span>
<a href="{% url 'service:detail' 7 2 %}" target="_blank">服务条款</a><span>|</span>
<a href="{% url 'service:detail' 7 1 %}" target="_blank">现金券使用说明</a>
</li>
<li class="cen">
<div>
<em></em><b></b>
</div>
</li>
</ul>
</div>
<div class="help_cont_m c">
<div class="help_list fl">
<h2 class="help_list_title">常见问题</h2>
<dl class="help_list_c">
<dt>
<a href="?sort=" class="{% if sort == '' %}hover{% endif %}">全部</a>
<a href="?sort=售后" class="{% if sort == '售后' %}hover{% endif %}">关于手机售后FAQ</a>
<a href="?sort=售前" class="{% if sort == '售前' %}hover{% endif %}">关于手机售前FAQ</a>
<a href="?sort=使用" class="{% if sort == '使用' %}hover{% endif %}">产品使用</a>
</dt>
{% for faq in FAQS.object_list %}
<dd>
<a href="{% url 'service:detail' faq.service_type faq.service_id %}" title="{{ faq.name }}" target="_blank">{{ faq.name }}</a>
</dd>
{% endfor %}

<div class="help_pager">
<form name="selectPageForm" action="" method="get">
<div id="pager" class="ui_page">
{% if FAQS.has_previous %}
    <a class="ui_page_prev" href="?{{ FAQS.previous_page_number.querystring }}">上一页</a>
{% endif %}
{% for page in FAQS.pages %}
    {% if page %}
        {% ifequal page FAQS.number %}
            <span class="ui_page_curr">{{ page }}</span>
        {% else %}
            <a href="?{{ page.querystring }}" class="page">{{ page }}</a>
        {% endifequal %}
    {% endif %}
{% endfor %}
{% if FAQS.has_next %}
    <a class="ui_page_next" href="?{{ FAQS.next_page_number.querystring }}">下一页</a>
{% endif %}

</div>
</form>
</div>
</div>
<div class="help_sider_cont fr">
<h2>联系我们</h2>
<dl class="help_sider_gmzx c">
<dt></dt>
<dd>
<div class="gmzx_t">
<span class="ui_orange" >购买咨询</span><span class="ui_gray">|</span><span class="ui_orange" >售后咨询</span>
</div>
<div class="gmzx_p">
通过在线客服咨询产品问题
</div>
</dd>
</dl>
<dl class="help_sider_gmzx c hot-line">
<dt></dt>
<dd>
<div class="gmzx_p ui_orange">
400-779-6666
</div>
<div class="gmzx_t">
服务热线仅收市话费
</div>
</dd>
</dl>
<h2>建议留言</h2>
<p class="help_leave_msg">
如果您对金立产品或服务有任何意见或建议，欢迎给我们留言。
</p>
<p>
<a href="{% url 'service:user/ask' %}" target="_blank">点击留言&gt;&gt;</a>
</p>
<div class="gn_guanhuai">
<h2 class="sd_gn_heart">金立关怀<a class="gn_ht_sk">?</a></h2>
<div id="Jguanhuai" class="service_guanhuai_about">
<span class="icon"></span>
<div class="bd" style="display: none;">
<div class="cont">
<p>
金立关怀实时为您提供产品、服务、操作、保养等信息，同时受理咨询、建议反馈、投诉业务等。
</p>
<p>
关注金立关怀，我们将为您提供一对一的专属贴心服务！
</p>
</div>
<div class="trig"></div>
</div>
</div>
</div>
<dl class="gn_heart c">
<dt class="i_gn_heart fl">
<span class="gn_ht_codeimg"></span><em>关注微信官方号</em>
</dt>
<dd class="fl">
<h3>关注微博</h3>
<a class="i_ico_sina" href="#">新浪微博</a>
<a class="i_ico_tencent" href="#">腾讯微博</a>
</dd>
</dl>
</div>
</div>
</div>
</div>
<div class="g_ft" style="background:#fff">
<div class="g_ts">
<ul class="wrapper">
<li><a href="#" hidefocus="true" target="_blank"><i class="c_dropgos"></i><em>7天<br>退货保障</em></a></li>
<li><a href="#" hidefocus="true" target="_blank"><i class="c_change"></i><em>30天<br>换货承诺</em></a></li>
<li><a href="#" hidefocus="true" target="_blank"><i class="c_freesheep"></i><em>99元起<br>全场免运费</em></a></li>
<li><a href="#" hidefocus="true" target="_blank"><i class="c_svspoint"></i><em>579家<br>售后服务点</em></a></li>
</ul>
</div>
<div class="g_ft_guide wrapper c">
<dl>
<dt>关于金立</dt>
<dd><a href="#" hidefocus="true" target="_blank">企业荣誉</a></dd>
<dd><a href="#" hidefocus="true" target="_blank">金立体验店</a></dd>
<dd><a href="#" hidefocus="true" target="_blank">代理商专区</a></dd>
<dd><a href="#" hidefocus="true" target="_blank">加入金立</a></dd>
<dd><a href="#" hidefocus="true" target="_blank">联系我们</a></dd>
</dl>
<dl>
<dt>新闻资讯</dt>
<dd><a href="#" hidefocus="true" target="_blank">公司新闻</a></dd>
<dd><a href="#" hidefocus="true" target="_blank">媒体报道</a></dd>
<dd><a href="#" hidefocus="true" target="_blank">金立月刊</a></dd>
</dl>
<dl>
<dt>购物指南</dt>
<dd><a href="#" hidefocus="true" target="_blank">购物流程</a></dd>
<dd><a href="#" hidefocus="true" target="_blank">支付方式</a></dd>
<dd><a href="#" hidefocus="true" target="_blank">配送说明及费用</a></dd>
<dd><a href="#" hidefocus="true" target="_blank">订单管理</a></dd>
<dd><a href="#" hidefocus="true" target="_blank">购买常见问题</a></dd>
<dd><a href="#" hidefocus="true" target="_blank">预置应用公示</a></dd>
</dl>
<dl>
<dt>售后服务</dt>
<dd><a href="#" hidefocus="true" target="_blank">售后政策</a></dd>
<dd><a href="#" hidefocus="true" target="_blank">售后服务网点</a></dd>
<dd><a href="#" hidefocus="true" target="_blank">上门维修</a></dd>
<dd><a href="#" hidefocus="true" target="_blank">签收须知</a></dd>
<dd><a href="#" hidefocus="true" target="_blank">物流查询</a></dd>
</dl>
<dl>
<dt>关注我们</dt>
<dd><a href="#" rel="nofollow" hidefocus="true" target="_blank" class="sina">新浪微博<b></b></a></dd>
<dd><a href="#" rel="nofollow" hidefocus="true" target="_blank" class="tencent">腾讯微博<b></b></a></dd>
<dd><a href="#" rel="nofollow" hidefocus="true" target="_blank" class="qzone">QQ空间<b></b></a></dd>
</dl>
<div class="g_gn_wx fr">
<i class="ico_gn_weixin"></i>
<span>扫一扫关注微信</span>
</div>
</div>
<div class="g_ft_coprt">
<div class="wrapper">
<ul class="g_ft_coplink c">
<li class="link_item link_first">
<a href="#" target="_blank" hidefocus="true">网站地图</a>
</li>
<li class="link_item link_company" id="Jconpany"><b></b>
<div class="ui_borderCir" style="z-index:2">
<div class="ui_borderCir_t">
<div class="ui_borderCir_tl"></div>
<div class="ui_borderCir_tm"></div>
<div class="ui_borderCir_tr"></div>
</div>
<div class="ui_borderCir_c">
<p>集团下属公司<span></span></p>
<ul style="display:none">
<li><a href="#" rel="nofollow" target="_blank">欧新通信</a></li>
<li><a href="#" rel="nofollow" target="_blank">奥软网络</a></li>
</ul>
</div>
<div class="ui_borderCir_b">
<div class="ui_borderCir_bl"></div>
<div class="ui_borderCir_bm"></div>
<div class="ui_borderCir_br"></div>
</div>
</div>
</li>
</ul>
<div class="c">
<div class="lang" id="Jlang" style="z-index:3">
<div class="ui_borderCir">
<div class="ui_borderCir_t">
<div class="ui_borderCir_tl"></div>
<div class="ui_borderCir_tm"></div>
<div class="ui_borderCir_tr"></div>
</div>
<div class="ui_borderCir_c">
<ul>
<li><a href="#" target="_blank">Global/English</a></li>
<li><a href="#" target="_self">中国/简体中文</a></li>
</ul>
</div>
<div class="ui_borderCir_b">
<div class="ui_borderCir_bl"></div>
<div class="ui_borderCir_bm"></div>
<div class="ui_borderCir_br"></div>
</div>
</div>
<span class="icon"></span>
</div>
<p class="copyright" style="position: relative; z-index:1; line-height: 45px;">增值电信业务经营许可证：<a href="#" target="_blank">粤B2-20120350</a>
<a href="#" target="_blank">粤ICP备05087105号</a>
<a href="#" target="_blank">粤网文[2015]2233-484号</a>
<a href="E" target="_blank">粤文市审[2012]196号</a>
<span style="white-space: nowrap;">
<a id='___szfw_logo___' href="#" target='_blank' rel="nofollow"><img src='{% static 'shop.gionee.com.mobile_list/picture/sf.png' %}' border='0' style="opacity: 0.8;" /></a>

<script id="ebsgovicon" src="{% static 'shop.gionee.com.mobile_list/js/govicons.js' %}" type="text/javascript" charset="utf-8"></script>
<a href="#" rel="nofollow" target="_blank"><img src="{% static 'shop.gionee.com.mobile_list/picture/b.png' %}" width="120" height="45" style="vertical-align: middle;" /> </a>
</span>
</p>
<p class="copyright" style="line-height: 23px;">Copyright &copy; 2013 深圳市金立通信设备有限公司 版权所有 .</p>
</div>
</div>
</div>
</div>

<script type="text/javascript">var oguanhuai=new $Hover({obj:"#Jguanhuai",selectorPanel:".bd",config:{cssHover:"service_guanhuai_hover"}});var navFixed=$(".help_nav_fixed li"),navt=$(".help_nav_t li"),navc=$(".help_nav_c li"),hoverCss="hover";navFixed.mouseenter(function(){navFixed.removeClass(hoverCss);$(this).addClass(hoverCss);navt.removeClass(hoverCss);navc.hide();});navt.mouseenter(function(){var othis=$(this);var index=othis.parent().children().index(this);navFixed.removeClass(hoverCss);navt.removeClass(hoverCss);othis.addClass(hoverCss);navc.hide();navc.eq(index).show();});navc.mouseenter(function(){var othis=$(this);var index=othis.parent().children().index(this);navFixed.removeClass(hoverCss);navt.removeClass(hoverCss);navt.eq(index).addClass(hoverCss);navc.hide();othis.show();});$(".help_nav").mouseleave(function(){navFixed.removeClass(hoverCss);navt.removeClass(hoverCss);navc.hide();});</script>

<script type="text/javascript" src="{% static 'shop.gionee.com.help_list/js/service.201407261412_1.js' %}"></script>

<script src="{% static 'shop.gionee.com.help_list/js/stat_1.js' %}" language="JavaScript"></script>
<noscript><img src="picture/conv_1.gif" width="0px" style="display:none !important;"/></noscript>

</div>
</body>
	</html>